<div class="player-container">
  <div class="video-wrapper" [class.is-loading]="isLoading">
    <video #videoElement crossorigin="anonymous" class="video-element"></video>

    <canvas #commentCanvas class="danmaku-canvas"></canvas>

    <div *ngIf="isLoading" class="spinner-overlay">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>

  <div class="comment-bar">

    <button class="command-toggle-btn" (click)="toggleCommandMenu()" title="コマンド設定">
      <mat-icon>
        palette
      </mat-icon>
    </button>

    <div class="command-menu" [class.open]="isCommandMenuOpen">
      <div class="color-palette">
        <div class="color-swatch" style="background: #FFFFFF;" title="white"
          (click)="toggleCommand('white', commandInput)"></div>
        <div class="color-swatch" style="background: #000000;" title="black"
          (click)="toggleCommand('black', commandInput)">
        </div>
        <div class="color-swatch" style="background: #808080;" title="gray"
          (click)="toggleCommand('gray', commandInput)">
        </div>
        <div class="color-swatch" style="background: #7F4001;" title="brown"
          (click)="toggleCommand('brown', commandInput)">
        </div>
        <div class="color-swatch" style="background: #238F23;" title="green"
          (click)="toggleCommand('green', commandInput)"></div>
        <div class="color-swatch" style="background: #B2ECED;" title="cyan"
          (click)="toggleCommand('cyan', commandInput)"></div>
        <div class="color-swatch" style="background: #0000FF;" title="blue"
          (click)="toggleCommand('blue', commandInput)">
        </div>
        <div class="color-swatch" style="background: #FFFF00;" title="yellow"
          (click)="toggleCommand('yellow', commandInput)"></div>
        <div class="color-swatch" style="background: #FF8000;" title="orange"
          (click)="toggleCommand('orange', commandInput)"></div>
        <div class="color-swatch" style="background: #FF0000;" title="red" (click)="toggleCommand('red', commandInput)">
        </div>
      </div>

      <input #commandInput type="text" class="command-input cmd-box" placeholder="コマンド (例: ue red small)"
        maxlength="128">
    </div>

    <input #commentInput type="text" class="comment-input" placeholder="コメント..." (keyup.enter)="sendComment()"
      maxlength="140">
    <button class="comment-send-btn" (click)="sendComment()">送信</button>
    <div class="more-menu-wrapper" #moreMenuWrapper>
      <button class="more-options-btn" (click)="toggleMoreMenu()" title="その他のオプション">
        <mat-icon>more_vert</mat-icon>
      </button>

      <div class="more-popup" *ngIf="isMoreMenuOpen">
        <button class="delete-video-btn" (click)="deleteVideo()">
          <mat-icon>delete</mat-icon>
          <span>動画を削除</span>
        </button>
      </div>
    </div>
  </div>

  <mat-card *ngIf="videoMetadata" class="metadata-card">
    <mat-card-header>
      <mat-card-title class="video-title">{{ videoMetadata.title }}</mat-card-title>
      <mat-card-subtitle class="video-stats"
        style="display: flex; gap: 16px; font-size: 14px; color: #666; align-items: center;">
        <div>
          {{ videoMetadata.created_at | date:'yyyy/MM/dd HH:mm':'+0900' }}
        </div>
        <div style="display: flex; align-items: center;">
          <mat-icon>
            play_arrow
          </mat-icon> {{ videoMetadata.view_count }}
        </div>
        <div style="display: flex; align-items: center;gap: 2px;">
          <mat-icon>
            comment
          </mat-icon> {{ commentSize() }}
        </div>
      </mat-card-subtitle>

      <mat-card-subtitle style="display: flex; flex-direction: column; gap: 8px;margin-top: 8px;">
        <div class="video-tags"
          style="margin-bottom: 12px; display: flex; align-items: center; gap: 8px; flex-wrap: wrap;">
          <mat-icon> sell </mat-icon>
          <mat-chip-set>
            @for (tag of tags; track tag.tag_id) {
            <mat-chip class="hoverable-tag" [routerLink]="['/']" [queryParams]="{ tag: tag.name }"
              style="display: flex;cursor: pointer;align-items: center;">
              <span *ngIf="tag.status === 1" class="material-icons"
                style="font-size: 14px; vertical-align: middle;">lock</span>
              {{ tag.name }}
              <mat-icon *ngIf="tag.status !== 1" class="remove-icon"
                (click)="$event.preventDefault(); $event.stopPropagation(); removeTag(tag)">
                clear
              </mat-icon>
            </mat-chip>
            }
          </mat-chip-set>

          <div class="tag-action-wrapper" #tagActionWrapper style="position: relative; display: inline-flex;">
            <button mat-icon-button class="add-tag-btn" (click)="openTagInput()" title="タグを追加">
              <mat-icon>add_circle_outline</mat-icon>タグを追加
            </button>
            <div class="tag-popup" *ngIf="isTagInputOpen">
              <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>タグを検索・追加</mat-label>
                <input type="text" matInput [matAutocomplete]="auto" (input)="onTagInput($event)"
                  (keyup.enter)="addTag(tagInput.value)" #tagInput maxlength="40">

                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addTag($event.option.value)">
                  @for (suggest of suggestTags; track suggest.tag_id) {
                  <mat-option [value]="suggest.name">{{ suggest.name }}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-divider class="divider"></mat-divider>
      <p class="description" [innerHTML]="videoMetadata.description | linkify">{{ videoMetadata.description }}</p>
    </mat-card-content>
  </mat-card>
</div>